[alias]
  l = log --pretty=format:'%C(yellow)%h %Cblue%ad %Creset| %s %Cgreen[%an]' -n 20 --graph --abbrev-commit --date=short
  commit = commit

[user]
  name = Simon Rondelez
  email = simonrondelez@me.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILj+8w7r8h0x57+D37wq0zes7UekAIu4kJ1nhX9BkKLQ

[push]
  default = current

[credential]
  helper = store

[help]
  autocorrect = 1

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  # https://help.github.com/articles/signing-commits-using-gpg/
  gpgsign = true

[tag]
  gpgsign = true

[rebase]
  autoStash = true

[pull]
  rebase = true

[fetch]
  prune = true

[diff "sopsdiffer"]
  textconv = sops -d

[core]
	excludesfile = /Users/simon/.gitignore_global
